html {
    font-family: "finanzas";
    body {
        margin-right: 5%;
        margin-left: 5%;
        background-color: beige;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        header {
            //propiedades a reemplazar por extend
            border: 3px outset gray;
            border-radius: 15px;
            overflow: hidden;
            //
            width: 100%;
            div {
                display: flex;
                justify-content: center;
                padding: 4%;
                h1 {
                    border: 4px outset black;
                    padding: 10px;
                }
            }
        }
        main {
            .menu-principal {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 10%;
                padding: 2%;
                section {
                    width: 100%;
                    border: 3px outset gray;
                    border-radius: 15px;
                    .contenedor {
                        height: 300px;
                        display: flex;
                        flex-direction: column;
                        button {
                            height: 50px;
                            margin: 4%;
                            a {
                                font-size: 18px;
                                color: black;
                                text-decoration: none;
                                font-family: "finanzas";
                            }
                        }
                    }
                }
                #menu-ingreso{
                    background-image: url(./../../assets/imagenes/ingresos.jpg);
                    background-size: contain;
                }
                #menu-egreso{
                    background-image: url(./../../assets/imagenes/gastos.jpg);
                    background-size: contain;
                }
            }
        }
    }
}